@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



header {
    text-align: center;
}

header img {
    margin-top: 30px;
}

header img a:hover {
    cursor: pointer;
}

header nav {
    margin-top: 35px;
    margin-bottom: 39px;
}

header nav :nth-child(2),
header nav :nth-child(3) {
    margin-left: 104px;
}

header nav a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    color: #12151d;
}

header nav a:hover {
    font-weight: 300;
}



footer {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
}